.section-hero {
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-template-rows: auto auto;
    // grid-gap: 1rem;
    // .background-circles {
    //     clip-path: circle(50% at 50% 50%);
    //     width: 400px;
    //     height: 400px;
    //     position: absolute;
    //     background-color: rgb(14 230 190 / 50%);
    //     background-blend-mode: overlay;
    //     .circle-1 {
    //         top: -120px;
    //         right: -160px;
    //         z-index: -3;
    //     }
    // }
    .hero-title {
        h1 {
            font-size: 3.4rem;
        }
    }
    .hero-image {
        display: none;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // img { 
        //     border-radius: 50%;
        //     max-width: 82%;
        //     box-shadow: 0 5px 15px -5px rgb(0 0 0 / 30%);
        // }
    }
    .hero-desc {
        // grid-column: 1 / 3;
        p {
            font-size: 1.2rem;
            line-height: 2.2rem;
        }
    }
}