.hero-title {
    margin-top: 10rem;
    h1 {
        color: $orangeDark;
        opacity: 0.8;
        font-size: 5rem;
        line-height: 3.7rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -0.3rem;
        margin-bottom: 1.6rem;
    }
    p {
        color: $orangeDark;
        opacity: 0.8;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

@media (min-width: 576px) {
    .hero-title {
        margin-top: 12rem;
    }
}
