 header {
    min-height: 70px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    a {
        text-decoration: none;
        .logo {
            cursor: pointer;
            font-family: Poppins, sans-serif;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 800;
            letter-spacing: -0.16rem;
            color: $orangeDark;
        }
    }
    .burger {
        display: flex;
        cursor: pointer;
        svg {
            color: $orangeDark;
            width: 40px;
            height: auto;
        }
    }
    .mobile-nav {
        z-index: 999;
        position: absolute;
        background-color: rgba(233, 233, 233, 0.9);
        top: 70px;
        left: 0;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        align-items: baseline;
        border-top: 4px solid $orangeDark;
        a {
            font-size: 1.3rem;
            font-weight: 400;
            color: $orangeDark;
            margin: 1.5rem 0;
            cursor: pointer;
        }
    }
    .desktop-nav { display: none; }
}

@media (min-width: 576px) {
    header {
        height: 100px;
        padding: 0 2rem;
        .burger {
            display: none;
        }
        .desktop-nav {
            display: inline-block;
            a {
                padding: .5rem .8rem;
                font-size: 1.1rem;
                font-weight: 400;
                color: $orangeDark;
                margin: 1.5rem 0;
                cursor: pointer;
            }
            a:hover {
                @include buttonPill;
            }
        }
    }
}

.hide { display: none; }

.nav-shrink {
    height: 60px !important;
    transition: .3s;
}