 header {
    min-height: 70px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    a {
        text-decoration: none;
        .logo {
            cursor: pointer;
            font-family: Poppins, sans-serif;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 800;
            letter-spacing: -0.16rem;
            color: $orangeDark;
        }
    }
    .burger {
        z-index: 10;
        display: flex;
        cursor: pointer;
        background-color: transparent;
        border: none;
        svg {
            color: $orangeDark;
            width: 40px;
            height: auto;
        }
    }
    .mobile-nav {
        z-index: 9;
        position: absolute;
        background-color: rgba(233, 233, 233, .95);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        align-content: center;
        animation: opacityFadeIn .1s;
        a {
            font-size: 2rem;
            font-weight: 600;
            color: $orangeDark;
            margin: 2rem 0;
            cursor: pointer;
        }
    }
    .desktop-nav { display: none; }
}

@media (min-width: 576px) {
    header {
        height: 100px;
        padding: 0 2rem;
        .burger {
            display: none;
        }
        .desktop-nav {
            display: inline-block;
            a {
                padding: .5rem .8rem;
                font-size: 1.1rem;
                font-weight: 400;
                color: $orangeDark;
                margin: 1.5rem 0;
                cursor: pointer;
            }
            a:hover {
                @include buttonPill;
            }
        }
    }
}

@media (min-width: 1441px) {
    header{
        height: 200px;
        padding: 0 6rem;
        a {
            .logo {
                font-size: 4rem;
            }
        }
        .desktop-nav{
            a {
                font-size: 2rem;
            }
        }
    }
}

.hide { display: none; }

.nav-shrink {
    height: 60px !important;
    transition: .3s;
}